export(changeNames)
export(getAuth)
export(getData)
export(getToken)
export(loadToken)
export(metrics)
export(refreshToken)
export(reports)
export(statement)
export(transformData)
import(RCurl)
import(rjson)
